upstream web-server 
{
  server ${ORIGIN_SERVER};
}

# Configure all requests to be load balanced to web-server
server 
{
  listen 80;
  resolver 127.0.0.11 valid=10s ipv6=off;
  location /
  {
    proxy_pass http://web-server;
  }
}
